
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/.composer-home/
tools/social_ai/__pycache__/
*.pyc
__pycache__/
/.composer/
/vendor/
/node_modules/
/tools/shopges_ai/.venv/
/tools/shopges_ai/__pycache__/
