parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludePaths:
        analyse:
            - src/Controller/Admin/*
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
